@import "reset";
@import "fonts/fonts";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/gray";

html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    overflow: auto;
    background: var(--bg-redesigned);
}

li {
    list-style-type: none;
}

// .app,
// .app-modal,
// .app-drawer {
//    font: var(--font-m);
//    color: var(--primary-color);
// }

.app {
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--bg-color);
    min-height: 100vh;
    display: grid;
    grid-template-rows: var(--navbar-height) 1fr;
    grid-template-columns: minmax(0, 1fr);
}

.app-redesigned {
    background: var(--bg-redesigned);
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    font: var(--font-m-gilroy-medium);
    color: var(--font-ui-secondary-redesigned);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--bg-menu-active-redesigned);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--button-redesigned);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

.app *::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

.app *::-webkit-scrollbar-track {
    background: var(--bg-card);
}

.app *::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}
