@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/gray";

.app,
.app-modal {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
    display: grid;
    grid-template-rows: var(--navbar-height) 1fr;
}

.content-page {
    display: flex;
}
