.title {
    padding: 0;
    color: var(--primary-color);
}

.description {
    padding: 0;
    margin-top: 5px;
    color: var(--secondary-color);
}

.error {
    .title {
        color: var(--error-primary);
    }

    .description {
        color: var(--error-secondary);
    }
}

.size-m {
    .title {
        font-size: var(--font-size-l);
    }

    .description {
        margin-top: 7px;
        font-size: var(--font-size-m);
    }
}

.size-l {
    .title {
        font-size: var(--font-size-xl);
    }

    .description {
        margin-top: 10px;
        font-size: var(--font-size-l);
    }
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}
