.article-details {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.avatar {
    margin: 0 auto;
    object-fit: cover;
}

.title {
    margin-top: 30px;
}

.meta {
    margin-top: 15px;
}

.skeleton {
    margin-top: 30px;
}

.meta-wrapper {
    margin-top: 10px;
}

.meta-inner {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 6px;
}

.block {
    margin-top: 25px;
}
