.popup {
    position: relative;
}

.btn-trigger {
    background: none;
    padding: 0;
    border: none;
    outline-color: transparent;
}

.item-bg {
    background: none;
}

.hovered {
    background: var(--inverted-secondary-color);
}

.disabled {
    opacity: 0.5;
}
