.recommendations-wrapper {
    display: grid;
    grid-template-columns: auto;
}

.recommendations {
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.skeletons {
    display: flex;
    gap: 20px;
    width: 100%;
}

.skeletons-new {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}
