.description {
    font-family: var(--font-family-manrope);
}

.ui {
    .description {
        color: var(--font-ui-secondary-redesigned);
    }
}

.primary {
    .title,
    .description,
    .ui {
        color: var(--font-ui-primary-redesigned);
    }
}

.error {
    .title,
    .description,
    .ui {
        color: var(--error-redesigned);
    }
}

.accent {
    .title {
        color: var(--button-redesigned);
    }
}

.size-s {
    .title {
        font-size: var(--font-size-s);
        line-height: var(--font-line-s);
    }

    .description {
        font-size: var(--font-size-s);
        line-height: var(--font-line-s);
    }

    .ui {
        font-size: var(--font-size-s);
        line-height: var(--font-line-s);
    }
}

.size-m {
    .title {
        font-size: var(--font-size-l);
        line-height: var(--font-line-l);
    }

    .description {
        font-size: var(--font-size-m);
        line-height: var(--font-line-m);
    }

    .ui {
        font-size: var(--font-size-m);
        line-height: var(--font-line-m);
    }
}

.size-l {
    .title {
        font-size: var(--font-size-xl);
        line-height: var(--font-line-xl);
    }

    .description {
        font-size: var(--font-size-l);
        line-height: var(--font-line-l);
    }

    .ui {
        font-size: var(--font-size-l);
        line-height: var(--font-line-l);
    }
}

.medium {
    .title {
        font-family: var(--font-family-gilroy-medium);
        font-weight: 500;
    }

    .ui {
        font-family: var(--font-family-gilroy-medium);
        font-weight: 500;
    }
}

.semi-bold {
    .title {
        font-family: var(--font-family-gilroy-semibold);
        font-weight: 600;
    }

    .ui {
        font-family: var(--font-family-gilroy-semibold);
        font-weight: 600;
    }
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}
