.sidebar-redesigned {
    position: sticky;
    top: 105px;
}

.ui-block {
    width: 218px;

    // height: 182px;

    background: var(--bg-light-redesigned);
}

.icon-add {
    color: #fff;
    margin-left: 8px;
}
