.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background-color: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.sidebar-collapsed {
    width: var(--sidebar-width-collapsed);
}

.button {
    align-self: flex-start;
}

.switchers {
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 15px;
    align-items: center;
}
