.popup {
    position: relative;
    width: 100%;
}

.btn-trigger {
    background: none;
    padding: 0;
    border: none;
    outline: none;
}

.item-bg {
    background: none;
}

.hovered {
    background: var(--bg-select-redesigned);
    cursor: pointer;
}

.current {
    background: var(--bg-select-redesigned);
    pointer-events: none;
    color: var(--font-ui-secondary-redesigned);

    &::after {
        content: "";
        margin-left: auto;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: var(--font-ui-secondary-redesigned);
    }
}

.disabled {
    opacity: 0.5;
}
