.listBox {
    position: relative;
}

.button-trigger {
    background: none;
    padding: 0;
    border: none;
    outline-color: transparent;
}

.options {
    position: absolute;
    z-index: 1000;
    background: var(--listbox-bg);
    border-radius: 16px;
    overflow: hidden;

    &.top-left {
        bottom: 100%;
        right: 0;
    }

    &.top-right {
        bottom: 100%;
        left: 0;
    }

    &.bottom-left {
        top: 100%;
        right: 0;
    }

    &.bottom-right {
        top: 100%;
        left: 0;
    }
}

.item {
    padding: 10px;
}

.hovered {
    background: var(--inverted-secondary-color);
}

.disabled {
    opacity: 0.5;
}
