.app-dark-theme {
    --bg-color: #161637;
    --inverted-bg-color: #e0e0e0;
    --primary-color: #78f078;
    --secondary-color: #486f48;
    --inverted-primary-color: #030b50;
    --inverted-secondary-color: #1d56bd;
    --theme-icon-color: #0115c6;
    --skeleton-glare: rgb(31 41 99 / 0%);
    --skeleton-glare-light: rgb(31 41 99 / 62%);
    --skeleton-bg: #1f1f42;
    --code-bg: #1f1f42;
    --bg-card: rgb(31 41 99 / 62%);
    --bg-card-image: #1f1f42;
}
