.app-dark-theme {
    --bg-color: #161637;
    --inverted-bg-color: #e0e0e0;
    --primary-color: #78f078;
    --secondary-color: #486f48;
    --inverted-primary-color: #030b50;
    --inverted-secondary-color: #1d56bd;
}
