.app-dark-theme {
    --bg-color: #161637;
    --inverted-bg-color: #e0e0e0;
    --primary-color: #78f078;
    --secondary-color: #486f48;
    --inverted-primary-color: #030b50;
    --inverted-secondary-color: #1d56bd;
    --theme-icon-color: #030b50;
    --skeleton-glare: rgb(31 41 99 / 0%);
    --skeleton-glare-light: rgb(31 41 99 / 62%);
    --skeleton-bg: #1f1f42;
    --listbox-bg: #1f1f42;
    --code-bg: #1f1f42;
    --bg-card: rgb(31 41 99 / 62%);
    --bg-card-image: #1f1f42;

    // redesigned

    --bg-redesigned: #070e33;
    --bg-light-redesigned: #171c44;
    --bg-menu-active-redesigned: #25214a;
    --bg-input-redesigned: #433770;
    --bg-select-redesigned: #2d2864;
    --font-ui-primary-redesigned: #e1e1ee;
    --font-ui-select-redesigned: #bfd9f0;
    --font-ui-secondary-redesigned: #6e5d9d;
    --select-arrow-redesigned: #90a9c0;
    --input-placeholder-redesigned: #8a7ce3;
    --input-text-active-redesigned: #fff;
    --icon-redesigned: #9f91ef;
    --toggle-icon-redesigned: #cba4ff;
    --button-redesigned: #5e2ec3;
    --error-redesigned: #d95757;
    --bg-select-open-redesigned: #342e70;
    --popup-border-redesigned: #3e3883;
    --popup-shadow-redesigned:
        0 14px 31px 0 rgb(172 0 219 / 10%),
        0 56px 56px 0 rgb(172 0 219 / 9%),
        0 125px 75px 0 rgb(172 0 219 / 5%),
        0 222px 89px 0 rgb(172 0 219 / 1%),
        0 347px 97px 0 rgb(172 0 219 / 0%);
    --bg-scrollbar-redesigned: #29214e;
    --skeleton-dark-redesigned: #25214a;
    --skeleton-light-redesigned: #363071;
}
