.app-gray-theme {
    --bg-color: #f4f7fb;
    --inverted-bg-color: #687a90;
    --primary-color: #687a90;
    --secondary-color: #8297ae;
    --inverted-primary-color: #f4f7fb;
    --inverted-secondary-color: #d4e1ee;
    --theme-icon-color: #f4f7fb;
    --skeleton-glare: rgb(255 255 255 / 0%);
    --skeleton-glare-light: rgb(255 255 255 / 50%);
    --skeleton-bg: #d8ddea;
    --code-bg: #d8ddea;
}
