:root {
    --bg-color: #e0e0e0;
    --inverted-bg-color: #161637;
    --primary-color: #030b50;
    --secondary-color: #06265f;
    --inverted-primary-color: #78f078;
    --inverted-secondary-color: #486f48;
    --theme-icon-color: #ffc700;
    --skeleton-glare: rgba(255, 255, 255, 0%);
    --skeleton-glare-light: rgba(255, 255, 255, 30%);
    --skeleton-bg: #b3b5b9;
}
