.app.light {
  --bg-color: #e0e0e0;
  --inverted-bg-color: #292938;

  --primary-color: #030b50;
  --secondary-color: #06265f;
  --inverted-primary-color: #486f48;
  --inverted-secondary-color: #207320;
}
