:root {
    --bg-color: #e0e0e0;
    --inverted-bg-color: #161637;
    --primary-color: #030b50;
    --secondary-color: #06265f;
    --inverted-primary-color: #78f078;
    --inverted-secondary-color: #486f48;
    --theme-icon-color: #78f078;
    --skeleton-glare: rgb(255 255 255 / 0%);
    --skeleton-glare-light: rgb(255 255 255 / 30%);
    --skeleton-bg: #b3b5b9;
    --listbox-bg: #b3b5b9;
    --code-bg: #b3b5b9;
    --bg-card: rgb(255 255 255 / 30%);
    --bg-card-image: #b3b5b9;

    // redesigned

    --bg-redesigned: #e9f0f6;
    --bg-light-redesigned: #fff;
    --bg-menu-active-redesigned: #d8e2f5;
    --bg-input-redesigned: #f6efff;
    --bg-select-redesigned: #e8f5ff;
    --font-ui-primary-redesigned: #44598d;
    --font-ui-select-redesigned: #44598d;
    --font-ui-secondary-redesigned: #7b95b4;
    --select-arrow-redesigned: #90a9c0;
    --input-placeholder-redesigned: #b7b6e0;
    --input-text-active-redesigned: #4c4365;
    --icon-redesigned: #9f91ef;
    --toggle-icon-redesigned: #9f91ef;
    --button-redesigned: #9f91ef;
    --error-redesigned: #f77;
    --bg-select-open-redesigned: #eef8ff;
    --popup-border-redesigned: #ddedf9;
    --popup-shadow-redesigned:
        0 14px 31px 0 rgb(90 130 211 / 10%),
        0 56px 56px 0 rgb(90 130 211 / 9%),
        0 125px 75px 0 rgb(90 130 211 / 5%),
        0 222px 89px 0 rgb(90 130 211 / 1%),
        0 347px 97px 0 rgb(90 130 211 / 0%);
    --bg-scrollbar-redesigned: #d4def3;
}
