.navbar-redesigned {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 89px;
    padding: 16px;
    background: var(--bg-light-redesigned);
}

.navbar-inner {
    width: 1294px;
}
