.profile-card {
    padding: 20px;
    border: 1px solid var(--inverted-bg-color);
    min-height: 150px;
}

.header {
    display: flex;
}

.edit-btn {
    margin-left: auto;
}

.input {
    margin-right: 10px;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.avatar-wrapper {
    display: flex;
    justify-content: center;
}
