.card {
    border-radius: 15px;
    overflow: hidden;
}

.normal {
    background: none;
    border: 1px solid var(--primary-color);
}

.current {
    background-color: var(--bg-card);
    border: none;
}
